[submodule "Tesla/vendor/spdlog"]
	path = Tesla/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Tesla/vendor/GLFW"]
	path = Tesla/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Tesla/vendor/imgui"]
	path = Tesla/vendor/imgui
	url = https://github.com/TheCherno/imgui
