[submodule "Tesla/vendor/spdlog"]
	path = Tesla/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Tesla/vendor/GLFW"]
	path = Tesla/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Tesla/vendor/imgui"]
	path = Tesla/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Tesla/vendor/glm"]
	path = Tesla/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Tesla/vendor/yaml-cpp"]
	path = Tesla/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
